%section.clearfix.inner_body
  .pc.cm
    #msg
      - messages = flash[:hash] || Hash.new
      - if messages.any?
        - messages.each_pair do |key, value|
          - value.each_pair do |type, msg|
            = content_tag(:div, content_tag(:i, "", class: "fa fa-times") + msg, class: "msg #{type}")


    = form_for @user, html: { class: "mt20" }, multipart: true, url: update_account_settings_user_path(@user) do |f|
      %h4.ph10 Account Settings
      %aside.fl.w50.mt10
        .ph10
          = f.text_field :first_name, placeholder: "First Name"
        .p10.mt10
          = f.text_field :last_name, placeholder: "Last Name"
        .p10
          = f.email_field :email, placeholder: "Email id"
        .p10
          = f.phone_field :phone_number, placeholder: "Photo No."
        %h4.ph10.mt10
          %small Change Password
        .ph10
          = password_field_tag "current_password", nil, placeholder: "Current Password"
        .p10.mt10
          = password_field_tag "new_password", nil, placeholder: "New Password"
        .p10
          = password_field_tag "confirm_password", nil, placeholder: "Confirm Password"
      %aside.fl.w50.ph10.ac
        %h4.al
          %small Cover Photo
        %figure.uplaod.cover_img
          = image_tag (ImageDecorator.cover_photo_img(@user)), class: "img_fill_parent"
        .btn.browse_btn.inline.mt20
          = f.fields_for :cover_photo do |photo|
            = photo.file_field "picture"
          Browse Images
        %h4.ph10.mt10.al
          %small Profile Photo
        %figure.uplaod.round.profile_photo.cm
          = image_tag @user.profile_cover_url(:medium), class: "img_fill_parent round"
        .btn.browse_btn.inline.mt20
          = f.fields_for :profile_cover do |photo|
            = photo.file_field "picture"
          Browse Images
      .fl.w50.mb20.mt10.cr
        .p10.fl
          = f.submit "Save Changes"
        .p10.fl.white_btn
          = f.submit "Delete Account", id: "delete-account-button"

:coffee
  $("#user_cover_photo_picture").on "change", ->
    preview_image(this, $(".cover_img img"))
  $("#user_profile_cover_picture").on "change", ->
    preview_image(this, $(".profile_photo img"))
  $("#delete-account-button").on "click", (e)->
    if window.confirm("sure to destroy your account?")
      $(e.target.form).submit()
    else
      e.preventDefault()
  $("form[id^=edit_user]").validate
    rules:
      "new_password":
        minlength: 8
      "confirm_password":
        minlength: 8
        equalTo: "#new_password"

    messages:
      "new_password":
        minlength: "Your password must be at least 8 characters long"

      "confirm_password":
        minlength: "Your password must be at least 8 characters long"
        equalTo: "Please enter the same password as above"

