%h3 Reports for recent 7 days

- 7.times do |i|
  - date = Date.today - i
  -# - users = User.registered_per_day(date)
  .panel.panel-default
    .panel-heading.clearfix
      .pull-left Reposts for #{date}
    %table.table.table-striped
      %tr
        %td User registered
        %td= User.registered_per_day(date).map &:user_name
      %tr
        %td Private Card Created
        %td= Album.total_private_cards_per_day(date).count
      %tr
        %td Public cards created
        %td= Album.total_public_cards_per_day(date).count
      %tr
        %td Total cards
        %td= Album.total_cards_per_day(date).count
      %tr
        %td Total Posts
        %td= Photo.total_posts_per_day(date).count
      %tr
        %td Total Comments
        %td= Comment.total_comments_per_day(date).count
      %tr
        %td Total Likes
        %td= Like.total_likes_per_day(date).count
