%h3 Admin Photos index page

.panel.panel-default
  .panel-heading.clearfix
    .pull-left All Photos list
    .pull-right
      -# = link_to "New Card", new_admin_album_path
  %table.table.table-striped
    %tr
      %th Photo ID
      %th Photo Title
      %th Photo description
      %th Creator
      %th Album
      %th Crated_at
      %th Public/Private
      %th Actions
    - @photos.each do |photo|
      %tr
        %td= photo.id
        %td= photo.title
        %td= photo.description
        %td= photo.creator.user_name
        %td= photo.album.name
        %td= photo.created_at
        %td= photo.album.private? ? "Private" : "Public"

        %th
          = link_to "destroy", admin_photo_path(photo), method: :delete, data: { confirm: "sure to destroy this photo?" }

