!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "description"}/
    / Mobile Specific Metas
    %meta{:content => "width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, user-scalable=0", :name => "viewport"}/
    %title BuddyPix
    -# main css
    = stylesheet_link_tag "admin", media: "all"
    = csrf_meta_tag
    = javascript_include_tag "admin"
    /[if lt IE 9] <script src="assets/js/html5.js"></script><script src="assets/js/css3-mediaqueries.js"></script>

  %body
    %header.clearfix
      %nav.navbar.navbar-default{ role: "navigation" }
        .container-fluid
          .navbar-header
            = link_to image_tag("buddypix_logo.png", alt: "Logo"), "#"
          .links
            %ul.nav.navbar-nav
              %li
                = link_to "Dashboard", admin_path
              %li
                = link_to "Users", admin_users_path
              %li
                = link_to "Cards", admin_albums_path
              %li
                = link_to "Photos", admin_photos_path
              %li
                = link_to "Blogs", admin_blogs_path
              %li
                = link_to "Static Pages", admin_static_pages_path
              %li
                = link_to "Reports", admin_reports_path
            %ul.nav.navbar-nav.navbar-right
              %li
                = link_to "Log out", destroy_user_session_path, method: :delete
    .container.clearfix
      = yield

