!!!
/[if IE 8] <html lang="en" class="ie8">
/[if IE 9] <html lang="en" class="ie9">
/[if IE 10] <html lang="en" class="ie10">
/ [if !IE]><!
%html{:lang => "en"}
  / <![endif]
  / BEGIN HEAD
  %head
    %meta{:charset => "utf-8"}/
    %title BuddyPix-admin
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = favicon_link_tag 'favicon.ico'
    -# main css
    = stylesheet_link_tag "admin", media: "all"
    = csrf_meta_tag
    = javascript_include_tag "admin/admin"
    /[if lt IE 9] <script src="assets/js/html5.js"></script><script src="assets/js/css3-mediaqueries.js"></script>

  %body.fixed-top
    #header.navbar.navbar-inverse.navbar-fixed-top
      / BEGIN TOP NAVIGATION BAR
      .navbar-inner
        .container-fluid
          / BEGIN LOGO
          %a.brand{:href => "index.html"}
            = image_tag "logo.png", alt: "Conquer"
          / END LOGO
          / BEGIN RESPONSIVE MENU TOGGLER
          %a#main_menu_trigger.btn.btn-navbar.collapsed{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.arrow
          / END RESPONSIVE MENU TOGGLER
          .top-nav
            / BEGIN TOP NAVIGATION MENU
            %ul#top_menu.nav.pull-right
              / BEGIN USER LOGIN DROPDOWN
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-user
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"}
                      %i.icon-user
                      Mark King
                  %li.divider
                  %li
                    %a{:href => "login.html"}
                      %i.icon-key
                      Log Out
              / END USER LOGIN DROPDOWN
            / END TOP NAVIGATION MENU
      / END TOP NAVIGATION BAR
    / END HEADER

    #container.row-fluid
      / BEGIN SIDEBAR
      #sidebar.nav-collapse.collapse
        / BEGIN RESPONSIVE QUICK SEARCH FORM
        .navbar-inverse
          %form.navbar-search.visible-phone
            %input.search-query{:placeholder => "Search", :type => "text"}/
        / END RESPONSIVE QUICK SEARCH FORM
        / BEGIN SIDEBAR MENU
        %ul
          %li.active
            %a{:href => "dashboard.html"}
              %i.icon-home
              Dashboard
          %li
            = link_to content_tag(:i, "", class: "icon-user") + " Users", admin_users_path
          %li
            = link_to content_tag(:i, "", class: "icon-folder-close") + " Cards", admin_albums_path
          %li
            = link_to content_tag(:i, "", class: "icon-picture") + " Posts", admin_photos_path
          %li.has-sub
            %a{:href => "javascript:;"}
              %i.icon-pencil
              Static Pages
              %span.arrow
            %ul.sub
              %li
                %a{:href => "promotion-edit.html"} Promotion
              %li
                %a{:href => "about-edit.html"} About Us
              %li
                %a{:href => "terms-edit.html"} Terms
              %li
                %a{:href => "privacy-edit.html"} Privacy
          %li.has-sub
            %a{:href => "javascript:;"}
              %i.icon-bar-chart
              Reports
              %span.arrow
            %ul.sub
              %li
                %a{:href => "summary_report.html"} Summary Report
              %li
                %a{:href => "card_report.html"} Card Report
              %li
                %a{:href => "user_report.html"} Inactive Users Report
              %li
                %a{:href => "user_post_report.html"} User Post Report
          %li
            %a{:href => "blog.html"}
              %i.icon-comment
              Blog
      / END SIDEBAR

      / BEGIN PAGE
      #body
        = yield
    -# %header.clearfix
    -#   %nav.navbar.navbar-default{ role: "navigation" }
    -#     .container-fluid
    -#       .navbar-header
    -#         = link_to image_tag("buddypix_logo.png", alt: "Logo"), "#"
    -#       .links
    -#         %ul.nav.navbar-nav
    -#           %li
    -#             = link_to "Dashboard", admin_path
    -#           %li
    -#             = link_to "Users", admin_users_path
    -#           %li
    -#             = link_to "Cards", admin_albums_path
    -#           %li
    -#             = link_to "Photos", admin_photos_path
    -#           %li
    -#             = link_to "Blogs", admin_blogs_path
    -#           %li
    -#             = link_to "Static Pages", admin_static_pages_path
    -#           %li
    -#             = link_to "Reports", admin_reports_path
    -#         %ul.nav.navbar-nav.navbar-right
    -#           %li
    -#             = link_to "Log out", destroy_user_session_path, method: :delete

:coffee
  $(document).on "page:load ready", ->
    App.init()
