.p10.fl.w100
  %figure.profile_pic.round.img_fill
    = image_tag @user.profile_cover_url(:medium)
  %figure.profile_cover.img_fill.fl.w100
    = image_tag (ImageDecorator.cover_photo_img(@user))
    %hgroup.head_row.bs
      %h2= @user.user_name
    .info_row
      .info_cell.bs
        %i.pe-7s-albums
        %span= @user.created_albums.count
      .info_cell.bs
        %i.pe-7s-photo-gallery
        %span= @user.uploaded_photos.count
      .info_cell.bs
        %i.pe-7s-like
        %span= @user.total_likes
      .info_cell.bs
        %i.pe-7s-chat
        %span= @user.total_comments

