%section.clearfix.inner_body
  .pc.cm
    = render 'profile_pics'
    #m-container#my_wall.fl.w100
      - if @photos.empty?
        .p10.feed_box.fl.w100.ac.mt20.msg_box
          %h4 hmmm..your wall is empty because you haven't picked any topics to follow.  Find topics you're interested in or create your own topic cards below
          %br
          = link_to "Search Cards", search_path, class: "btn inline"
          &nbsp;&nbsp;
          = link_to "Create Cards", new_card_path, class: "btn inline"
      - else
        = render partial: "albums/photo", collection: @photos, locals: { from: "my_wall" }

    %nav#page-nav
      = link_to "", my_wall_next_batch_path(page: 1)

:javascript
  jQuery(function($) {
      var container = $('#m-container');
      container.masonry({
        itemSelector: '.feed_box'
      });
      $('.like_btn').click(function(){
        liked = $(this).data("liked")
        if(liked){
          return false;
        }
        else{
          $(this).parents('.f_bottom').find('.like_box').fadeToggle(0,function(){
              container.masonry();
          });
          return false;
        }
      });

  });
    
  load_more($("#m-container"));

:coffee
  toggle_like()

