%section.clearfix.inner_body
  .pc.cm
    .p10.fl.w100
      %figure.profile_pic.round.img_fill
        = image_tag @user.profile_cover_url(:medium)
      %figure.profile_cover.img_fill.fl.w100
        = image_tag @user.cover_photo_url
        %hgroup.head_row.bs
          %h2= @user.user_name
        .info_row
          .info_cell.bs
            %i.pe-7s-albums
            %span= @user.created_albums.count
          .info_cell.bs
            %i.pe-7s-photo-gallery
            %span= @user.uploaded_photos.count
          .info_cell.bs
            %i.pe-7s-like
            %span= @user.total_likes
          .info_cell.bs
            %i.pe-7s-chat
            %span= @user.total_comments
    %form.search_row.fl.w100.p10
      .fl.select
        %select
          %option Card View
          %option List View
      .fl.input
        %input{:placeholder => "Search ...", :type => "text"}/
      .btn_box.fr
        %button{:type => "submit"}
          %i.pe-7s-search
    #m-container.fl.w100
      - @cards.each do |album|
        .p10.feed_box.fl.w50
          / feed box
          .top_row.clearfix
            %aside.fl.p10.user_info
              %figure.img_fill.round.fl
                = image_tag album.creator.profile_cover_url(:medium)
              .info_side
                %h3= album.creator.user_name
                %p
                  = "#{time_ago_in_words(album.updated_at)} ago"
            %aside.fr.p10.h3.ar.cat_side
              %h3= album.name
              %p
                = album.private? ? "Private" : "Public"
          %figure.post_img.img_fill.clearfix
            = image_tag album.cover_image_url(:medium)
            %h2= album.caption
          .f_bottom.clearfix
            %aside.fl
              %a.p10.inline{:href => "#"}
                %i.pe-7s-like
                %strong= album.total_likes
              %a.p10.inline{:href => "#"}
                %i.pe-7s-chat
                %strong= album.total_comments
            %aside.fr.p10
              = "#{album.followers.count} Followers"
        / feed box
:javascript
  jQuery(function($) {
      var container = document.querySelector('#m-container');
      var msnry =  new Masonry( container, {
          itemSelector: '.feed_box'
      });
      //msnry.layout();
  });
