!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi
    %p
      #{@default_content}
      %br
      #{@content}
      %br
      = link_to "#{@link_url}", @link_url
    %p
      Regards
    %p
      #{@user.user_name}

