%footer.clearfix
  .pc.cm
    %nav.fl
      %ul
        %li
          = link_to "ABOUT US", welcome_about_us_path
        %li
          = link_to "SUPPORT", welcome_support_path
        %li
          = link_to "BLOG", welcome_blog_path
        %li
          = link_to "PRIVACY", welcome_privacy_path
        %li
          = link_to "TERMS", welcome_terms_path
        %li
          %span © 2015 BuddyPix
    .fr.social_link
      %a.fa.fa-twitter{:href => "#", :title => "twitter"}
      %a.fa.fa-facebook{:href => "#", :title => "facebook"}
      %a.fa.fa-google{:href => "#", :title => "facebook"}
