%header.scale
  .pc.cm
    %figure.fl.logo
      = link_to image_tag("buddypix_logo.png", alt: "Logo"), root_path
    -# logo
    - unless user_signed_in?
      %nav.fr
        -# navigation side
        = link_to "Login", new_user_session_path
      -# navigation side
    - else
      %nav.fr
        -# navigation side
        %aside.fl.mr10.hide_less_1024
          = link_to(sanitize("My Wall &nbsp;|&nbsp;"), my_wall_path)
          = link_to "My card", cards_path, class: "mr10"
          = link_to "Create New CARD", new_card_path, class: "btn inline mr10"
          = link_to(content_tag(:i, "", class: "fa fa-search"), search_path, class: "btn inline search-btn mr10")
        %aside.fl.drop_nav
          .expand_nav_point.hide_less_480
            %figure.round.mt10.mr10.fl.img_fill
              = image_tag current_user.profile_cover_url(:thumb)
            %span.name.mr10
              = "Hi! #{current_user.show_name}"
            %i.pe-7s-angle-down
          .fr.hide.view_less_480
            %i.fa.fa-navicon.min_nav_btn
          %ul.drop_nav_links.hide
            %li.hide.view_less_480.p10
              .expand_nav_point
                %figure.round.mr10.img_fill
                  = image_tag current_user.profile_cover_url(:thumb)
                %span.name.mr10
                  = "Hi! #{current_user.show_name}"
            %li.hide.view_less_1024
              = link_to "Home", my_wall_path
            %li.hide.view_less_1024
              = link_to "My Card", cards_path
            %li.hide.view_less_1024
              = link_to "Create New Card", new_card_path
            %li.hide.view_less_1024
              = link_to "Search"
            %li
              = link_to "Following(#{current_user.following_cards.count})", following_cards_cards_path
            %li
              = link_to "Alerts", "#"
            %li
              = link_to "Support", welcome_support_path
            %li
              = link_to "Settings", dashboard_account_settings_path
            %li
              = link_to "Hidden Cards", hidden_cards_cards_path
            %li
              = link_to "Sign Out", destroy_user_session_path, method: :delete

