%section.home_img.clearfix.scale
  .pc.cm
    %aside.fl.w50.article_side.bs
      %h1 Share your story
      %h2 Share experiences together with photo groups for hobbies, events, or everyday life.
      %span.inline
        = image_tag "app_icon.png", class: "app_icon"
      = link_to(image_tag("app_store_icon.png", class: "app_store_icon"), "#", class: "inline")
    %aside.fl.w50.img_side.ac.figure_img
      = image_tag "iphone_app_on_hand.png", alt: "app demo"
%section.clearfix
  .pc.cm
    .table_row
      -# table row
      %figure.fl.w50
        .tab_cell.p10.figure_img
          = image_tag "slide_1.png", alt: "slide 1"
      %aside.fl.w50
        %article.tab_cell
          %h2 Massa urna vestibulum erat erat nec odio
          %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc.
    -# table row
    .table_row
      -# table row
      %figure.fr.w50
        .tab_cell.p10.figure_img
          = image_tag "slide_2.png", alt: "slide 1"
      %aside.fl.w50
        %article.tab_cell.p10
          %h2 Massa urna vestibulum erat erat nec odio
          %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc.
    -# table row
    .table_row
      -# table row
      %figure.fl.w50
        .tab_cell.p10.figure_img
          = image_tag "slide_3.png", alt: "slide 3"
      %aside.fl.w50
        %article.tab_cell.p10
          %h2 Massa urna vestibulum erat erat nec odio
          %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc.
    .table_row
      -# table row
      %figure.fr.w50
        .tab_cell.p10.figure_img
          = image_tag "slide_4.png", alt: "slide 4"
      %aside.fl.w50
        %article.tab_cell.p10
          %h2 Massa urna vestibulum erat erat nec odio
          %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc.
    -# table row

