%section.home_img.clearfix.scale
  .pc.cm
    %aside.fl.w50.article_side.bs
      %h1 Recommendations For You
      %h2 Reviews on any topic that are written by you, shared by you, and voted by you.
      %span.inline
        = image_tag "app_icon.png", class: "app_icon"
      = link_to(image_tag("app_store_icon.png", class: "app_store_icon mr10"), "#", class: "inline")
    %aside.fl.w50.img_side.ac.figure_img
      = image_tag "iphone_app_on_hand.png", alt: "app demo"
%section.clearfix
  .pc.cm
    .table_row
      -# table row
      %figure.fl.w50
        .tab_cell.p10.figure_img
          = image_tag "slide_1.png", alt: "slide 1"
      %aside.fl.w50
        %article.tab_cell
          %h2 Share your Experiences
          %p Trying something for the first time can be hard.  A recommendation written by you goes a long way in helping someone make a decision.  Share your advice on topics like:
          %ul.al
            %li
              %i.pe-7s-check
              Cooking Recipes
            %li
              %i.pe-7s-check
              The Best Craft Beers
            %li
              %i.pe-7s-check
              Perfume or Cologne brands
            %li
              %i.pe-7s-check
              Traveling to foreign countries
    -# table row
    .table_row
      -# table row
      %figure.fr.w50
        .tab_cell.p10.figure_img
          = image_tag "slide_2.png", alt: "slide 1"
      %aside.fl.w50
        %article.tab_cell.p10
          %h2 Simple, Organized, Visual Content
          %p We make it easy for you to read the content you like.  Quickly search for topics you’re interested in and join them.  Get real-time feeds of content written by people who share your interests.
    -# table row
    .table_row
      -# table row
      %figure.fl.w50
        .tab_cell.p10.figure_img
          = image_tag "slide_3.png", alt: "slide 3"
      %aside.fl.w50
        %article.tab_cell.p10
          %h2 Become a Power Blogger
          %p BuddyPix promotes your content based on how users comment and like it.  We want to help you build your brand and allow you to promote your content through our app.  We’ll even interview you on our blog!
    .table_row
      -# table row
      %figure.fr.w50
        .tab_cell.p10.figure_img
          = image_tag "slide_4.png", alt: "slide 4"
      %aside.fl.w50
        %article.tab_cell.p10
          %h2 Massa urna vestibulum erat erat nec odio
          %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc.
    -# table row

