%header.scale
  .pc.cm
    %figure.fl.logo
      = image_tag "buddypix_logo.png", alt: "Logo"
    -# logo
    %nav.fr
      -# navigation side
      = link_to "Login", "#"
    -# navigation side
    %nav.fr.hide
      -# navigation side
      %aside.fl.mr10.hide_less_1024
        = link_to(sanitize("Profile &nbsp;|&nbsp;"), "#")
        = link_to "My card", "#", class: "mr10"
        = link_to "Create New CARD", "#", class: "btn inline mr10"
        = link_to(content_tag(:i, "", class: "fa fa-search"), "#", class: "btn inline search-btn mr10")
      %aside.fl.drop_nav
        .expand_nav_point.hide_less_480
          %figure.round.mt10.mr10.fl.img_fill
            = image_tag "dummy_img/profile_pic.jpg"
          %span.name.mr10 Hi! Malisa
          %i.pe-7s-angle-down
        .fr.hide.view_less_480
          %i.fa.fa-navicon.min_nav_btn
        %ul.drop_nav_links.hide
          %li.hide.view_less_480.p10
            .expand_nav_point
              %figure.round.mr10.img_fill
                = image_tag "dummy_img/profile_pic.jpg"
              %span.name.mr10 Hi! Malisa
          %li.hide.view_less_1024
            = link_to "Profile", "#"
          %li.hide.view_less_1024
            = link_to "My Card", "#"
          %li.hide.view_less_1024
            = link_to "Create New Card", "#"
          %li.hide.view_less_1024
            = link_to "Search"
          %li
            = link_to "Account Setting", "#"
          %li
            = link_to "Alerts", "#"
          %li
            = link_to "Support", "#"
          %li
            = link_to "Sign Out", "#"
    -# navigation side
%section.home_img.clearfix.scale
  .pc.cm
    %aside.fl.w50.article_side.bs
      %h1 Share your story
      %h2 Share experiences together with photo groups for hobbies, events, or everyday life.
      = link_to image_tag("app_icon.png") + image_tag("app_store_icon.png"), "#"
    %aside.fl.w50.img_side.ac.figure_img
      = image_tag "iphone_app_on_hand.png", alt: "app demo"
%section.clearfix
  .pc.cm
    .table_row
      -# table row
      %figure.fl.w50
        .tab_cell.p10.figure_img
          = image_tag "slide_1.png", alt: "slide 1"
      %aside.fl.w50
        %article.tab_cell
          %h2 Massa urna vestibulum erat erat nec odio
          %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc.
    -# table row
    .table_row
      -# table row
      %figure.fr.w50
        .tab_cell.p10.figure_img
          = image_tag "slide_2.png", alt: "slide 1"
      %aside.fl.w50
        %article.tab_cell.p10
          %h2 Massa urna vestibulum erat erat nec odio
          %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc.
    -# table row
    .table_row
      -# table row
      %figure.fl.w50
        .tab_cell.p10.figure_img
          = image_tag "slide_3.png", alt: "slide 3"
      %aside.fl.w50
        %article.tab_cell.p10
          %h2 Massa urna vestibulum erat erat nec odio
          %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc.
    .table_row
      -# table row
      %figure.fr.w50
        .tab_cell.p10.figure_img
          = image_tag "slide_4.png", alt: "slide 4"
      %aside.fl.w50
        %article.tab_cell.p10
          %h2 Massa urna vestibulum erat erat nec odio
          %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc.
    -# table row

