%section.clearfix.inner_body
  .pc.cm
    #msg
      = ApplicationDecorator.flash_message
    = form_for @support, html: { class: "mt20" } do |f|
      %h4.ph20 Support
      %aside.fl.w50.p10
        .p10
          = f.text_field :sender_name, placeholder: "Your Name"
        .p10
          = f.text_field :subject, placeholder: "Subject"
        .p10
          = f.email_field :email, placeholder: "Email"
        .p10
          = f.text_area :message, placeholder: "Message"
        .p10
          = f.submit "Send Message"
    %aside.fl.w50
      %h1.support_box.ac Help us create a better experience for you and provide us your feedback.
      

:coffee
  $("#new_support").validate
    rules:
      "support[sender_name]": "required"
      "support[subject]": "required"

      "support[email]":
        required: true

      "support[message]":
        required: true

    messages:
      "support[sender_name]": "Please enter your name"
      "support[subject]": "Please enter the subject"
      "support[email]":
        required: "Please provide your email"

      "support[message]":
        required: "Please fill in the message"

  return
