%section.clearfix.inner_body
  .pc.cm.tab_box
    %ul.tab_link.clearfix.mt20
      %li
        = link_to "contact", "#app_contact"
      %li
        = link_to "Email", "#email"

    #app_contact.cover_box.tab.hide
      .search_row.fl.w100.p10.contect_search
        .btn_box.fr
          %button{:type => "submit"}
            %i.pe-7s-search
        .input
          %input{:placeholder => "Search ...", :type => "text"}/
      = form_tag card_invitations_path do
        %ul.ph10.contact_search_list.cr
          - User.all_other_users(current_user).each do |user|
            %li
              %figure.fl.round.img_fill
                = image_tag user.profile_cover_url(:medium)
              .check
                = check_box_tag "user_ids[]", user.id, false, class: "check-test", id: "user_ids_#{user.id}", data: { label: "#{user.user_name}", labelposition: "left" }
        .p20.ac
          = submit_tag "Invite Friends"
    #email.cover_box.tab.p10.hide
      %div
        %input{:placeholder => "Email id", :type => "text"}/
      .mt10
        %textarea{:placeholder => "Hi-I’d like to share this album and pictures with you"}
      .p20.ac
        %button.inline{:type => "submit"} Send Invitation



      -# #invitation-tab
      -#   %ul.resp-tabs-list
      -#     %li APP CONTACT
      -#     %li EMAIL
      -#   .resp-tabs-container
      -#     .app-contact-container
      -#       this is container for app contact
      -#       = form_tag card_invitations_path do
      -#         %ul
      -#           - @users.each do |user|
      -#             %li.options
      -#               = label_tag "user_ids_#{user.id}", "#{user.email} #{user.user_name}"
      -#               = check_box_tag "user_ids[]", user.id, false, class: "check-test", id: "user_ids_#{user.id}"
      -#         = submit_tag "Invite Friends"
      -#     .email-container
      -#       this is container for email

:javascript
  jQuery(function($) {
      $('.tab_box').tabs();
  });

