%section.clearfix.inner_body
  .pc.cm.tab_box
    %ul.tab_link.clearfix.mt20
      %li
        = link_to "contact", "#app_contact"
      %li
        = link_to "Email", "#email"

    #app_contact.cover_box.tab.hide
      .search_row.fl.w100.p10.contect_search
        .btn_box.fr
          %button{:type => "submit"}
            %i.pe-7s-search
        .input
          %input{:placeholder => "Search ...", :type => "text"}/
      = form_tag card_invitations_path do
        %ul.ph10.contact_search_list.cr
          - User.all_other_users(current_user).each do |user|
            %li
              %figure.fl.round.img_fill
                = image_tag user.profile_cover_url(:medium)
              .check
                = check_box_tag "user_ids[]", user.id, false, class: "check-test", id: "user_ids_#{user.id}", data: { label: "#{user.user_name}", labelposition: "left" }
        .p20.ac
          = submit_tag "Invite Friends"
    #email.cover_box.tab.p10.hide
      %div
        = form_tag card_invite_by_email_path do
          = text_field_tag "email[to_url]", "", placeholder: "Email id"
          .mt10
            = text_area_tag "email[content]", "", placeholder:  "Hi-I’d like to share this album and pictures with you"
          .p20.ac
            = submit_tag "Send Invitation"

:javascript
  jQuery(function($) {
      $('.tab_box').tabs();
  });

