= form_for @album, url: url_path , html: { class: "mt20" } do |f|
  %h4.ph10 Create New Card
  %aside.fl.w50.mt10
    .ph10
      = f.text_field :name, placeholder: "Card Name"
    .p10
      #toolbar{:style => "display: none;"}
        %a{"data-wysihtml5-command" => "bold", :title => "CTRL+B"}
          %i.fa.fa-bold
        %a{"data-wysihtml5-command" => "italic", :title => "CTRL+I"}
          %i.fa.fa-italic
      = f.text_area :caption, placeholder: "Description(optional)", id: "textarea", class: "editor"
  %aside.fl.w50.ac.ph10
    %h4.al
      %small Cover Photo
    -# %figure.uplaod.cover_img{ class: @album.persisted? ? "img_fill" : "" }
    %figure.uplaod.cover_img
      = image_tag @album.cover_image_url(:medium), class: "img_fill_parent"
    .btn.browse_btn.inline.mt20
      = f.fields_for :cover_image do |cover|
        = cover.file_field "picture"
      Browse Images
  .fl.w50.mb20.cr.p10
    .check_select.bs.fl
      %span.btn.inline
        = f.radio_button "private", "false", data: { label: "Public" }, checked: !@album.private?
      %span.btn.inline
        = f.radio_button "private", "true", data: { label: "Private" }, checked: @album.private?
    .fl.mt20.cr
      = f.submit "#{action_text}"

:coffee
  $("#album_cover_image_picture").on "change", ->
    preview_image(this, $(".cover_img img"))

:javascript
  var wysihtml5ParserRules = {
    tags: {
      strong: {},
      b:      {},
      i:      {},
      em:     {},
      br:     {},
      p:      {},
      div:    {},
      span:   {},
      ul:     {},
      ol:     {},
      li:     {},
      a:      {
        set_attributes: {
          target: "_blank",
          rel:    "nofollow"
        },
        check_attributes: {
          href:   "url" // important to avoid XSS
        }
      }
    }
  };
  var editor = new wysihtml5.Editor("textarea", {
    toolbar:        "toolbar",
    parserRules:    wysihtml5ParserRules,
    useLineBreaks:  false,
  stylesheets:    "assets/js/editor/stylesheet.css"
  });

