%section.clearfix.inner_body
  .pc.cm
    = render 'users/profile_pics'
    - empty_class = @cards.empty? ? "" : "mt20"
    #m-container.fl.w100{ class: empty_class }
      - if @cards.empty?
        .p10.feed_box.fl.w100.ac.mt20.msg_box
          %h4 Your feed is empty because you're not following any cards. Search or create a card to start your feed.
          %br
          = link_to "Search Cards", search_path, class: "btn inline"
          &nbsp;&nbsp;
          = link_to "Create Cards", new_card_path, class: "btn inline"
      = render partial: "card_detail", collection: @cards, as: :card
    %nav#page-nav
      = link_to "", following_cards_batch_cards_path(page: 1)

      / feed box
    -# .loading_feed.feed_box.fl.w100.p10
    -#   = image_tag "preloader.png", class: "rotate", alt: "Loading ..."
    -#   %span
    -#     Loading
    -#     %blink ...

:javascript
  jQuery(function($) {
      var container = $('#m-container');
      container.masonry({
        itemSelector: '.feed_box'
      });
      $('.like_btn').click(function(){
          $(this).parents('.f_bottom').find('.like_box').fadeToggle(0,function(){
              container.masonry();
          });
          return false;
      });

  });

  load_more($("#m-container"));


:coffee
  toggle_like()

