%section.clearfix.inner_body
  .pc.cm
    = form_for @album, url: cards_path do |f|
      %h4 Create New Card
      %aside.fl.w50.p10
        .p10
          = f.text_field :name, placeholder: "Card Name"
        .p10
          = f.text_field :last_name, placeholder: "Last Name"
        .p10
          = f.text_area :caption, placeholder: "Description(optional)"
        .p10
          = f.label "Public"
          = f.radio_button "private", "false"
          = f.label "Private"
          = f.radio_button "private", "true"
        .p10
          = f.submit "Submit"
      %aside.fl.w50.p10.ac
        %h4.ph10.mt10.al
          %small Cover Photo
        %figure.uplaod.cover_img
        .btn.browse_btn.inline.mt20
          = f.fields_for :cover_image do |cover|
            = cover.file_field "picture"
          Browse Images

:javascript
  $('input[type="checkbox"],input[type="radio"]').iCheck({
    checkboxClass: "icheckbox_square",
    radioClass: "iradio_square",
    increaseArea: '20%'
  });
