%section.clearfix.inner_body
  .pc.cm
    .p10
      %figure.profile_cover.img_fill.fl.w100.album_cover
        = image_tag @album.cover_image_url
        %hgroup.head_row.bs
          %h2.fl= @user.user_name
          %p.fr.count.bs
            %i.fa.fa-user
            = sanitize "#{@album.followers.count} &nbsp;|&nbsp;"
            %i.fa.fa-user
            25
      .album_bar.fl.w100
        %aside.p20.fr.invite_btn
          %a.btn{:href => "#"} Invite user
        %aside.p20.para
          = @album.caption
    .upload_btn.ac.bs.fl.w100
      = link_to image_tag("upload_img_btn.png", alt: "upload Image"), new_card_photo_path(@album)
      -# %input{:type => "file"}/
      -# = image_tag "upload_img_btn.png", alt: "upload Image"
    #m-container.fl.w100.clearfix
      - @album.photos.each do |photo|
        .p10.feed_box.fl.w50{ id: dom_id(photo) }
          .top_row.clearfix
            %aside.fl.p10.user_info
              %figure.img_fill.round.fl
                = image_tag @user.profile_cover_url(:medium)
              .info_side
                %h3
                  = photo.title
                %p
                  = "#{time_ago_in_words photo.created_at} ago"
            %aside.fr.p10.h3.ar
              %h3 Basketball
              %p
                = "what is this time? 20 minutes ago"
          %figure.post_img.img_fill.clearfix
            = image_tag photo.picture_url(:medium), alt: "post img"
          .f_bottom.clearfix.fl.w100
            %aside.fl
              %a.p10.inline.like_btn{:href => "#"}
                %i.pe-7s-like
                %strong= photo.likes.count
              %a.p10.inline{:href => "#"}
                %i.pe-7s-chat
                %strong= photo.comments.count
            %aside.fr.p10 110 Followers
            .fl.w100.like_box.bs.hide
              = link_to "", like_card_photo_path(photo.album, photo, { mood: Like::MOOD[:happy] }), class: "like_icon happy", title: "happy", remote: true
              = link_to "", like_card_photo_path(photo.album, photo, { mood: Like::MOOD[:like] }), class: "like_icon like", title: "like", remote: true
              = link_to "", like_card_photo_path(photo.album, photo, { mood: Like::MOOD[:cool] }), class: "like_icon cool", title: "cool", remote: true
              = link_to "", like_card_photo_path(photo.album, photo, { mood: Like::MOOD[:sad] }), class: "like_icon sad", title: "sad", remote: true
              = link_to "", like_card_photo_path(photo.album, photo, { mood: Like::MOOD[:cheer_up] }), class: "like_icon cheer", title: "cheer up", remote: true

:javascript
  jQuery(function($) {
      var container = document.querySelector('#m-container');
      var msnry =  new Masonry( container, {
          itemSelector: '.feed_box'
      });
      $('.like_btn').click(function(){
          $(this).parents('.f_bottom').find('.like_box').fadeToggle(0,function(){
              msnry.layout();// this is masonry layout reset function we can user with other events
          });
          return false;
      });
  });
