#widget-config.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3 Widget Settings
  .modal-body
    %p Here will be a configuration form
/ END SAMPLE PORTLET CONFIGURATION MODAL FORM
/ BEGIN PAGE CONTAINER
.container-fluid
  / BEGIN PAGE HEADER
  .row-fluid
    .span12
      / BEGIN PAGE TITLE &amp; BREADCRUMB
      %h3.page-title
        Reports
      / END PAGE TITLE &amp; BREADCRUMB
  / END PAGE HEADER
  / BEGIN PAGE CONTENT
  #page.dashboard
    .row-fluid
      .span12
        / BEGIN EXAMPLE TABLE PORTLET
        .widget
          .widget-title
            %h4
              %i.icon-reorder
              Card Report
          .widget-body
            .clearfix
              = form_tag cards_report_admin_reports_path, method: :get do
                .control-group.pull-left.mr10
                  .controls
                    .control-group.pull-left.mr10
                      .controls
                        .input-append.date.date-picker{"data-date" => "#{@start_date}", "data-date-format" => "dd-mm-yyyy", "data-date-viewmode" => "years"}
                          %label.control-label.inline.mt5.mr10 Starts Date:
                          %input.input-small.date-picker{:size => "16", :type => "text", :value => "#{@start_date}", name: "start_date", id: "start_date"}
                          %span.add-on
                            %i.icon-calendar
                    .control-group.pull-left.mr10
                      .controls
                        .input-append.date.date-picker{"data-date" => "#{@end_date}", "data-date-format" => "dd-mm-yyyy", "data-date-viewmode" => "years"}
                          %label.control-label.inline.mt5.mr10 End Date:
                          %input.input-small.date-picker{:size => "16", :type => "text", :value => "#{@end_date}", name: "end_date", id: "end_date"}
                          %span.add-on
                            %i.icon-calendar
                %div
                  = submit_tag "Submit", class: "btn"
            %table.table.table-striped.table-bordered.table_listed
              %thead
                %tr
                  %th Card Name
                  %th Created Date
                  %th Card Type
                  %th Followers
                  %th Posts
                  %th Comments
                  %th Likes
              %tbody
                - Album.all.each do |album|
                  %tr.odd.gradeX
                    %td= album.name
                    %td= album.created_at.to_date
                    %td= album.private? ? "Private" : "Public"
                    %td= album.total_followers_range(@start_date, @end_date).count
                    %td= album.total_posts_range(@start_date, @end_date).count
                    %td= album.total_comments_range(@start_date, @end_date)
                    %td= album.total_likes_range(@start_date, @end_date)





-# %h3 this is Admin reports detail page
-# = form_tag query_range_admin_reports_path do
-#   = label_tag "start date"
-#   = date_field_tag "start_date", @start_date
-#   = label_tag "end date"
-#   = date_field_tag "end_date", @end_date
-#   = submit_tag "Submit"

-# -# - (@end_date - @start_date).to_i.times do |i|
-# - (@start_date .. @end_date).each do |date|
-#   .panel.panel-default
-#     .panel-heading.clearfix
-#       .pull-left Reposts for #{date}
-#     %table.table.table-striped
-#       %tr
-#         %td User registered
-#         %td= User.registered_per_day(date).map &:user_name
-#       %tr
-#         %td Private Card Created
-#         %td= Album.total_private_cards_per_day(date).count
-#       %tr
-#         %td Public cards created
-#         %td= Album.total_public_cards_per_day(date).count
-#       %tr
-#         %td Total cards
-#         %td= Album.total_cards_per_day(date).count
-#       %tr
-#         %td Total Posts
-#         %td= Photo.total_posts_per_day(date).count
-#       %tr
-#         %td Total Comments
-#         %td= Comment.total_comments_per_day(date).count
-#       %tr
-#         %td Total Likes
-#         %td= Like.total_likes_per_day(date).count

