- creator = @photo.creator
- card = @photo.album
%section.clearfix.inner_body
  .pc.cm
    .p10.feed_box.mt20.clearfix
      .top_row.clearfix
        %aside.fl.p10.user_info
          %figure.img_fill.round
            = image_tag creator.profile_cover_url(:medium)
          .info_side
            %h3=  creator.user_name
            %p= @photo.created_at.strftime("%I:%M %p,%d %b %Y")
        %aside.fr.p10.h3.ar.cat_side
          %h3= card.name
          %p= card.private? ? "Private" : "Public"
      %figure.clearfix.ac.fig_img
        = image_tag @photo.picture_url :medium
      .f_bottom.clearfix.fl.w100
        .p10
          %p= @photo.description
        %hr.mb0
        %aside.fl
          = link_to content_tag(:i, "", class: "pe-7s-like") + content_tag(:strong, "#{@photo.likes.count}"), "#", class: "p10 inline like_btn"
          = link_to content_tag(:i, "", class: "pe-7s-chat") + content_tag(:strong, "#{@photo.comments.count}"), "#", class: "p10 inline"
        %aside.fr
          %a.p10.inline{:href => "#commt_box"}
            %i.fa.fa-download
            %strong Download Image
        .like_box.bs.hide.clearfix.cr{ id: dom_id(@photo) }
          = link_to "", like_card_photo_path(@photo.album, @photo, { mood: Like::MOOD[:happy] }), class: "like_icon happy", title: "happy", remote: true
          = link_to "", like_card_photo_path(@photo.album, @photo, { mood: Like::MOOD[:like] }), class: "like_icon like", title: "like", remote: true
          = link_to "", like_card_photo_path(@photo.album, @photo, { mood: Like::MOOD[:cool] }), class: "like_icon cool", title: "cool", remote: true
          = link_to "", like_card_photo_path(@photo.album, @photo, { mood: Like::MOOD[:sad] }), class: "like_icon sad", title: "sad", remote: true
          = link_to "", like_card_photo_path(@photo.album, @photo, { mood: Like::MOOD[:cheer_up] }), class: "like_icon cheer", title: "cheer up", remote: true


    .fr.cr.follow_row_box.mt20
      %ul.fl
        - remaining_like = @photo.likes.count - 4
        - @photo.recent_likes(4).each do |like|
          %li.img_fill
            = image_tag like.liker.profile_cover_url(:medium)
            %span{ class: "#{like.mood}" }
              = like.mood
        + #{remaining_like > 0 ? remaining_like : 0}
      %i.pe-7s-angle-right.like_user_btn
    #comments.fl.w100
      .cmt_row.bs.clearfix
        %figure
        %aside
          %h4.fl Joseph Korian
          %p.fr
            %strong 10 minutes ago
          %p.fl.w100 Donec scelerisque velit ut pellentesque viverra. Sed dignissim mi in est cursus viverra. Nullam arcu ante, faucibus a neque vitae, tempus finibus augue.
          %a.fl{:href => "#"}
            %i.fa.fa-reply
            Reply
      .cmt_row.bs.clearfix.reply_box
        %figure
        %aside
          %h4.fl Admin
          %p.fr
            %strong 10 minutes ago
          %p.fl.w100 Donec scelerisque velit ut pellentesque viverra. Sed dignissim mi in est cursus viverra. Nullam arcu ante, faucibus a neque vitae, tempus finibus augue.
      .cmt_row.bs.clearfix
        %figure
        %aside
          %h4.fl Joseph Korian
          %p.fr
            %strong 10 minutes ago
          %p.fl.w100 Donec scelerisque velit ut pellentesque viverra. Sed dignissim mi in est cursus viverra. Nullam arcu ante, faucibus a neque vitae, tempus finibus augue.
          %a.fl{:href => "#"}
            %i.fa.fa-reply
            Reply
      .cmt_row.bs.clearfix.mt10.txt_area
        %figure
        %aside
          %textarea{:placeholder => "Write your comments"}
          .mt10
            .btn.browse_btn.inline.fl.dark
              %input{:type => "file"}/
              %i.fa.fa-image
            %span.inline.p10 Attach Image
          .cr
            %input.mt20{:type => "submit", :value => "Send Comment"}/

-# list tagged friends
.tag_frd_overlay.hide
  .tag_box.clearfix.cover_box.cm
    %i.tag_close X
    %h3.ac.mt5 Like User
    %ul.like_user_list.p10
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.happy happy
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.like like
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.cool cool
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.sad sad
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.cheer cheer
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.happy happy
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.like like
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.cool cool
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.sad sad
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.cheer cheer
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.happy happy
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.like like
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.cool cool
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.sad sad
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.cheer cheer
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.happy happy
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.like like
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.cool cool
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.sad sad
      %li
        %figure.round.fl.mr10.img_fill
        %span Giacomo Guilizzani
        %i.cheer cheer

:javascript
  jQuery(function($) {
      $('.tag_close').on('click',function(){
          $('.tag_frd_overlay').toggleClass('hide');
          return false;
      });
      $('.like_user_btn').on('click',function(){
          $('.tag_frd_overlay').toggleClass('hide');
          return false;
      });
      $('.like_btn').click(function(){
          $(this).parents('.f_bottom').find('.like_box').fadeToggle(0);
          return false;
      });
  });

