- creator = @photo.creator
- card = @photo.album
%section.clearfix.inner_body
  .pc.cm
    .p10.feed_box.mt20.clearfix
      .top_row.clearfix
        %aside.fl.p10.user_info
          %figure.img_fill.round
            = image_tag creator.profile_cover_url(:medium)
          .info_side
            %h3=  creator.user_name
            %p= @photo.created_at.strftime("%I:%M %p,%d %b %Y")
        %aside.fr.p10.h3.ar.cat_side
          %h3= card.name
          %p= card.private? ? "Private" : "Public"

      %figure#owl-demo.clearfix.ac.fig_img.owl-carousel
        - @photo.images.each do |image|
          %div
            = image_tag image.picture.url(:show)

      .f_bottom.clearfix.fl.w100{ id: dom_id(@photo)  }
        .p10
          %p
            %strong= @photo.title
          %p= @photo.description
        %hr.mb0
        %aside.fl
          = link_to content_tag(:i, "", class: "pe-7s-like") + content_tag(:strong, "#{@photo.likes.count}"), "#", class: "p10 inline like_btn"
          = link_to content_tag(:i, "", class: "pe-7s-chat") + content_tag(:strong, "#{@photo.comments.count}"), "#commt_box", class: "p10 inline"
        - if card.private?
          %aside.fr
            = link_to content_tag(:i, "", class: "fa fa-download") + content_tag(:strong, "Download Image"), download_card_photo_path(card, @photo), class: "p10 inline"
        .like_box.bs.hide.clearfix.cr{ id: dom_id(@photo) }
          = link_to "", like_card_photo_path(@photo.album, @photo, { mood: Like::MOOD[:happy] }), class: "like_icon happy", title: "happy", remote: true
          = link_to "", like_card_photo_path(@photo.album, @photo, { mood: Like::MOOD[:like] }), class: "like_icon like", title: "like", remote: true
          = link_to "", like_card_photo_path(@photo.album, @photo, { mood: Like::MOOD[:cool] }), class: "like_icon cool", title: "cool", remote: true
          = link_to "", like_card_photo_path(@photo.album, @photo, { mood: Like::MOOD[:sad] }), class: "like_icon sad", title: "sad", remote: true
          = link_to "", like_card_photo_path(@photo.album, @photo, { mood: Like::MOOD[:cheer_up] }), class: "like_icon cheer", title: "cheer up", remote: true


    .fr.cr.follow_row_box.mt20
      %ul.fl
        - remaining_like = @photo.likes.count - 4
        - @photo.recent_likes(4).each do |like|
          %li.img_fill
            = image_tag like.liker.profile_cover_url(:medium)
            %span{ class: "#{like.mood}" }
              = like.mood
        + #{remaining_like > 0 ? remaining_like : 0}
      %i.pe-7s-angle-right.like_user_btn
    #commt_box.fl.w100
      - @photo.comments.each do |comment|
        .cmt_row.bs.clearfix
          %figure.img_fill
            = image_tag comment.commenter.profile_cover_url(:thumb)
          %aside
            %h4.fl= comment.commenter.user_name
            %p.fr
              %strong= "#{time_ago_in_words(comment.created_at)} ago"
            %p.fl.w100= comment.content
            = image_tag comment.picture_url(:medium)
            = link_to content_tag(:i, "", class: "fa fa-reply") + "Reply", "#reply", class: "fl fancybox", data: { commenter: comment.commenter.user_name, "comment-id" => comment.id }
        - if comment.replies.count > 0
          - comment.replies.each do |reply|
            .cmt_row.bs.clearfix.reply_box
              %figure.img_fill
                = image_tag reply.commenter.profile_cover_url(:thumb)
              %aside
                %h4.fl= reply.commenter.user_name
                %p.fr
                  %strong= "#{time_ago_in_words reply.created_at} ago"
                %p.fl.w100
                  = reply.content

      .cmt_row.bs.clearfix.mt10.txt_area
        %figure.img_fill
          = image_tag current_user.profile_cover_url(:thumb)
        %aside
          = form_tag card_photo_comments_path(card, @photo), multipart: true do
            = text_area_tag "comment[content]", nil, placeholder: "Write your comments"
            .mt10
              .btn.browse_btn.inline.fl.dark
                = file_field_tag "comment[image][picture]"
                %i.fa.fa-image
              %span.inline.p10 Attach Image
            .cr
              = submit_tag "Send Comment", class: "mt20"

-# list tagged friends
.tag_frd_overlay.hide
  .tag_box.clearfix.cover_box.cm
    %i.tag_close X
    %h3.ac.mt5 Like User
    %ul.like_user_list.p10
      - @photo.likes.each do |like|
        - liker = like.liker
        %li
          %figure.round.fl.mr10.img_fill
            = image_tag liker.profile_cover_url(:medium)
          %span= liker.user_name
          %i{ class: "#{like.mood}" } #{like.mood}

#reply.light_box.hide
  %p
    %strong Reply To Joseph
  .cmt_row.bs.clearfix.txt_area
    %figure.img_fill
      = image_tag current_user.profile_cover_url(:thumb)
    %aside
      = form_tag reply_comment_path, multipart: true do
        = hidden_field_tag "card_id", card.id
        = hidden_field_tag "photo_id", @photo.id
        = text_area_tag "comment[content]", nil, placeholder: "Write your comments"
        .mt10
          .btn.browse_btn.inline.fl.dark
            = file_field_tag "comment[image][picture]"
            %i.fa.fa-image
          %span.inline.p10 Attach Image
        .cr
          = submit_tag "Send Comment", class: "mt20"

:javascript
  jQuery(function($) {
      $('.tag_close').on('click',function(){
          $('.tag_frd_overlay').toggleClass('hide');
          return false;
      });
      $('.like_user_btn').on('click',function(){
          $('.tag_frd_overlay').toggleClass('hide');
          return false;
      });
      $('.like_btn').click(function(){
          $(this).parents('.f_bottom').find('.like_box').fadeToggle(0);
          return false;
      });
      $("#owl-demo").owlCarousel({
          autoPlay : 3000,
          stopOnHover : true,
          navigation:true,
          paginationSpeed : 1000,
          goToFirstSpeed : 2000,
          singleItem : true,
          autoHeight : true,
          transitionStyle:"fade"
      });
  });

:coffee
  $('.fancybox').on 'click', ->
    commenter = $(this).data("commenter")
    comment_id = $(this).data("comment-id")
    $("#reply p strong").html "Reply To " + commenter
    $('#reply form').attr "action", "/comments/" + comment_id + "/reply"

