!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "description"}/
    / Mobile Specific Metas
    %meta{:content => "width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, user-scalable=0", :name => "viewport"}/
    %title BuddyPix
    -# main css
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tag
    = javascript_include_tag "application", "data-turbolinks-track" => true
    /[if lt IE 9] <script src="assets/js/html5.js"></script><script src="assets/js/css3-mediaqueries.js"></script>

  %body
    = render "shared/header"
    = yield
    = render "shared/footer"

